*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 700px;
    background: tan;
    padding: 10px; 
}

#header{
    margin: auto;
    text-align: center;
}

#header img, #header h1{
    display: inline-block;
    margin: auto;
}

.header_pic{
    height: 60px;
    width: 100px;
    background: white;
}

#pic_grid{
    text-align:center
}

.pic{
    display: inline-block;
    padding: 10px;
    margin: 3px auto;
    border: 4px solid black;
}

.blue{
    background: cornflowerblue;
}

.pink{
    background: crimson;
    margin-left:2px;
    margin-right: 2px;
}
.pic img{
    height: 100px;
    width: 100px;
}